<!DOCTYPE html>
<html lang="pr-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/cf6fa412bd.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../css/cadastrar.css">
    <title>Pratica HTML CSS Servlet</title>
</head>

<body>
    <header class="menuheader">

        <div class="headerItens">
            <h5 class="home">Home page</h5>
            <a href="../index.html"><img class="logo" src="../img/logo.png" alt="logo"></a>
            <nav class="menuLogin">
                <ul>
                    <li><a href="./login.html">Login</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <main class="principal">
        <div class="container">
            <form id="signup">
                <input type="text" placeholder="Nome" required />
                <i class="fas fa-user iuser"></i>
                <input type="text" placeholder="Email" required />
                <i class="fas fa-envelope iEmail"></i>
                <input type="password" placeholder="Senha" required />
                <i class="fas fa-lock iPassword"></i>
                <input type="password" placeholder="Password" required />
                <i class="fas fa-lock iPassword2"></i>
                <div class="divCheck">
                    <input type="checkbox" required />
                    <span>Termos</span>
                </div>
                <button type="submit">Enviar</button>
            </form>
        </div>
    </main>
</body>

</html>